.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
  }
  
  .thumbnail {
    margin: 10px;
    width: 150px; 
    height: 150px;
    cursor: pointer;
    border: 2px solid transparent; 
    transition: border-color 0.3s ease; 
  }
  
  .thumbnail:hover {
      border-color: lightblue; 
  }
  
  .expanded-image {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; 
  }
  
  .expanded-image img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
  
  .close-button {
      position: absolute;
      top: 20px;
      right: 20px;
      color: white;
      font-size: 24px;
      cursor: pointer;
  }
  
  
  .slideshow-container {
    position: relative;
    margin: 20px auto; 
    width: 500px; 
    height: 300px; 
    overflow: hidden; 
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
    transition: opacity 1s ease-in-out; 
  }
  
  .slide.active {
    opacity: 1; 
  }
  
  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  